@model IEnumerable<OptimizerBeta3.Models.TransactionTables.StockTransfer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Stock Transfer [ Out ] - Index</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartialView" />
        </div>
    </div>
    <div>
        <form asp-action="IndexFilter" asp-controller="StockTransferOut">
            <div class="row">
                <div class="col-2">
                    <h3 class="text-success">From Date :</h3>
                </div>
                <div class="col-2">
                    <input type="date" id="fromDate" name="fromDate" value="@(((DateTime)ViewBag.FromDate).Date.ToString("yyyy-MM-dd"))" />
                </div>
                <div class="col-2">
                    <h3 class="text-success">To Date :</h3>
                </div>
                <div class="col-2">
                    <input type="date" id="toDate" name="toDate" value="@(((DateTime)ViewBag.ToDate).Date.ToString("yyyy-MM-dd"))" />

                </div>
                <div class="col-2">

                </div>
                <div class="col-2 text-right">
                    <input type="submit" value="&nbsp; &nbsp; &nbsp; Refresh &nbsp;&nbsp; &nbsp; &nbsp;" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>


<div>
    @if (Model.Count() > 0)
    {
    <table class="table table-success table-striped table-hover table-bordered">
        <tr class="table-success text-info text-center">
            <th> @Html.DisplayNameFor(m => m.STNo) </th>
            <th> @Html.DisplayNameFor(m => m.STDt) </th>
            <th> @Html.DisplayNameFor(m => m.FromUnitName) </th>
            <th> @Html.DisplayNameFor(m => m.FromLocation) </th>
            <th> @Html.DisplayNameFor(m => m.ToUnitName) </th>
            <th> @Html.DisplayNameFor(m => m.ToLocation) </th>
            <th> <label>Actions</label> </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td> @Html.DisplayFor(m => item.STNo) </td>
        <td> @item.STDt.ToString("dd-MMM-yyyy")  </td>
        <td> @Html.DisplayFor(m => item.FromUnitName) </td>
        <td> @Html.DisplayFor(m => item.FromLocation) </td>
        <td> @Html.DisplayFor(m => item.ToUnitName) </td>
        <td> @Html.DisplayFor(m => item.ToLocation) </td>
        <td>
            <div class="btn-group" role="group">
                <a class="btn btn-outline-warning text-black" asp-action="STDetailsIndex" asp-route-id="@item.Id">
                    @*Dtls*@
                    <i class="fa fa-table" aria-hidden="true"></i>
                </a>
                <a class="btn btn-outline-info text-black" asp-action="POPrint" asp-route-id="@item.Id">
                    <i class="fa fa-print" aria-hidden="true"></i>
                </a>

                <a class="btn btn-outline-primary text-black" asp-action="Edit" asp-route-Id="@item.Id">
                    <i class="fas fa-edit"></i>
                </a>


                <a class="btn btn-outline-success text-danger" asp-action="Cancel" asp-route-Id="@item.Id">
                    <i class="far fa-times-circle"></i>
                </a>

            </div>
        </td>
        @*<td style="width:150px">

            <div class="btn-group" role="group">
                <a class="btn btn-primary text-white" asp-action="Edit" asp-route-Id="@item.Id">
                    <i class="fas fa-edit"></i>
                </a>


                <a class="btn btn-success text-white" asp-action="Cancel" asp-route-Id="@item.Id">
                    <i class="far fa-times-circle"></i>
                </a>

            </div>


        </td>*@
    </tr>
        }
    </table>
    }
    else
    {
        <p> No Stock Transfer exists.....</p>
    }
</div>


