@model IEnumerable<OptimizerBeta3.Models.GeneralTables.TempTransferDtl>
@using OptimizerBeta3.Models.GeneralTables
@{
    ViewData["Title"] = "LoadTempTransferDtls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="TransferId" value="@TempData["TransferId"]" type="hidden" readonly />

<h1>TransferDetailScannedCodes</h1>

<h6>Total Scanned Barcodes Count</h6>
<br />

<h4 class="text-info">Total Correct Barcodes Count</h4>
<h3>List - Correct Barcodes Count</h3>
<div>
    @*@if (Model.Count() > 0)*@
    @{
        var TempTransferdtlsResults = (List<TempTransferDtl>)ViewBag.TempTransferDtls;
        var TempEANCodeDtlsResults = (List<TempTransferDtlEANCode>)ViewBag.TempEANCodeDtls;
    }

    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    <label>Actions</label>
                </th>
                <th> @*@Html.DisplayNameFor(m => m.Id)*@ </th>
                <th> @*@Html.DisplayNameFor(m => m.IPAddress)*@ </th>
                <th> @*@Html.DisplayNameFor(m => m.FKTransferNo)*@ </th>
                <th> @Html.DisplayNameFor(m => m.TransferNo) </th>
                <th> @Html.DisplayNameFor(m => m.TransferDt) </th>
                <th> @*@Html.DisplayNameFor(m => m.FKMaterial)*@ </th>
                <th> @*@Html.DisplayNameFor(m => m.FKArticle)*@ </th>
                <th> @Html.DisplayNameFor(m => m.Description) </th>
                <th> @Html.DisplayNameFor(m => m.Colour) </th>
                <th> @Html.DisplayNameFor(m => m.Size) </th>
                <th> @Html.DisplayNameFor(m => m.HSNCode) </th>
                <th> @Html.DisplayNameFor(m => m.Quantity) </th>
                <th> @*@Html.DisplayNameFor(m => m.IIQuantity)*@ </th>
                <th> @Html.DisplayNameFor(m => m.Rate) </th>
                <th> @Html.DisplayNameFor(m => m.Value) </th>
                <th> @Html.DisplayNameFor(m => m.ValueinINR) </th>
                <th> @Html.DisplayNameFor(m => m.DiscountPercentage) </th>
                <th> @Html.DisplayNameFor(m => m.DiscountValue) </th>
                <th> @Html.DisplayNameFor(m => m.GrossValue) </th>
                <th> @Html.DisplayNameFor(m => m.SGSTPercentage) </th>
                <th> @Html.DisplayNameFor(m => m.SGSTValue) </th>
                <th> @Html.DisplayNameFor(m => m.CGSTPercentage) </th>
                <th> @Html.DisplayNameFor(m => m.CGSTValue) </th>
                <th> @Html.DisplayNameFor(m => m.IGSTPercentage) </th>
                <th> @Html.DisplayNameFor(m => m.IGSTValue) </th>
                <th> @Html.DisplayNameFor(m => m.GSTTotalValue) </th>
                <th> @Html.DisplayNameFor(m => m.OthersValuePlus) </th>
                <th> @Html.DisplayNameFor(m => m.ItemNettValue) </th>
                <th> @Html.DisplayNameFor(m => m.EANCode) </th>
                <th> @Html.DisplayNameFor(m => m.ReadyforImport) </th>
                <th> @Html.DisplayNameFor(m => m.Reason) </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:150px" class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary text-white" asp-action="EditTempTransferDetail" asp-route-Id="@item.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-danger text-white" asp-action="DeleteTempTransferDetail" asp-route-Id="@item.Id">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>

                    <td> @*@Html.DisplayFor(m => item.IPAddress)*@ </td>
                    <td> @*@Html.DisplayFor(m => item.FKTransferNo)*@ </td>
                    <td> @Html.DisplayFor(m => item.TransferNo) </td>
                    <td> @Html.DisplayFor(m => item.TransferDt) </td>
                    <td> @*@Html.DisplayFor(m => item.FKMaterial)*@ </td>
                    <td> @*@Html.DisplayFor(m => item.FKArticle)*@ </td>
                    <td> @Html.DisplayFor(m => item.Description) </td>
                    <td> @Html.DisplayFor(m => item.Colour) </td>
                    <td> @Html.DisplayFor(m => item.Size) </td>
                    <td> @Html.DisplayFor(m => item.HSNCode) </td>
                    <td> @Html.DisplayFor(m => item.Quantity) </td>
                    <td> @*@Html.DisplayFor(m => item.IIQuantity)*@ </td>
                    <td> @Html.DisplayFor(m => item.Rate) </td>
                    <td> @Html.DisplayFor(m => item.Value) </td>
                    <td> @Html.DisplayFor(m => item.ValueinINR) </td>
                    <td> @Html.DisplayFor(m => item.DiscountPercentage) </td>
                    <td> @Html.DisplayFor(m => item.DiscountValue) </td>
                    <td> @Html.DisplayFor(m => item.GrossValue) </td>
                    @*@if (item.DiscountPercentage != 0)
                        {
                            var discountvalue = item.ValueinINR * item.DiscountPercentage / 100;
                            <td> @Html.Raw(discountvalue) </td>
                            var grossValue = item.ValueinINR - discountvalue;
                            <td> @Html.Raw(grossValue) </td>
                        }
                        else
                        {
                            <td> @Html.Raw(item.DiscountPercentage) </td>
                            <td> @Html.Raw(item.GrossValue) </td>
                        }*@
                    <td> @Html.DisplayFor(m => item.SGSTPercentage) </td>
                    <td> @Html.DisplayFor(m => item.SGSTValue) </td>
                    <td> @Html.DisplayFor(m => item.CGSTPercentage) </td>
                    <td> @Html.DisplayFor(m => item.CGSTValue) </td>
                    <td> @Html.DisplayFor(m => item.IGSTPercentage) </td>
                    <td> @Html.DisplayFor(m => item.IGSTValue) </td>
                    <td> @Html.DisplayFor(m => item.GSTTotalValue) </td>
                    <td> @Html.DisplayFor(m => item.OthersValuePlus) </td>
                    <td> @Html.DisplayFor(m => item.ItemNettValue) </td>
                    <td> @Html.DisplayFor(m => item.EANCode) </td>
                    <td> @Html.DisplayFor(m => item.ReadyforImport) </td>
                    <td> @Html.DisplayFor(m => item.Reason) </td>

                </tr>
            }
        </table>
    }
    else
    {
        <p> No Transfer Details's exists.....</p>
    }
</div>

<h4 class="text-danger">Total Wrong Barcodes Count</h4>
<h3>List - Wrong Barcodes Count</h3>
@if (TempEANCodeDtlsResults.Count > 0)
{
    <table class="table table-striped border">
        <tr class="table-secondary">

            <th> @Html.Display("Id") </th>
            <th> @Html.Display("IPAddress") </th>
            <th> @Html.Display("EANCode") </th>
            <th> @Html.Display("IsMatching") </th>
            <th> @Html.Display("Quantity") </th>
            <th> @Html.Display("Reason") </th>

        </tr>

        @foreach (var item in TempEANCodeDtlsResults)
        {
            <tr>
                <td> @Html.DisplayFor(m => item.Id) </td>
                <td> @Html.DisplayFor(m => item.IPAddress) </td>
                <td> @Html.DisplayFor(m => item.EANCode) </td>
                <td> @Html.DisplayFor(m => item.IsMatching) </td>
                <td> @Html.DisplayFor(m => item.Quantity) </td>
                <td> @Html.DisplayFor(m => item.Reason) </td>
            </tr>
        }
    </table>
}

<div class="border backgroudColor row">

    <div class="col-12 backgroudWhite border-right">
        @*<form method="post" asp-action="CreateTransferDetail">*@
        <div class="form-group row">
            <div class="col-3">

                @*<input type="submit" value="Proceed With Correct Barcodes" class="btn btn-success" />*@
                <a class="btn btn-success text-white  form-control" asp-action="InsertTransferDetail" asp-route-Id="@TempData["TransferId"]">
                    Proceed With Correct Barcodes
                </a>
                @*InsertTransferDetail*@
            </div>
            <div class="col-3">
                <a class="btn btn-primary text-white  form-control" asp-action="CreateTransferDetailForReScanning" asp-route-Id="@TempData["TransferId"]">
                    Go Back & Re Scan
                </a>
            </div>
        </div>
    </div>
</div>
