@model IEnumerable<OptimizerBeta3.Models.TransactionTables.InwardDetails>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var inward = (OptimizerBeta3.Models.TransactionTables.Inward)TempData["Inward"];
}

<div class="border backgroudColor">
    <div class="backgroudWhite10Px">
        <div class="row">
            <div class="col-6">
                <h2 class="text-success">Purchase Order Info</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="col-form-label text-danger">Purchase Order No</label>
            </div>
            <div class="col-3">
                @inward.InwardNo;
            </div>
            <div class="col-3">
                <label class="col-form-label text-danger">Purchase Order Date</label>
            </div>
            <div class="col-3">
                @inward.InwardDt;
            </div>
        </div>
    </div>
</div>


<br />
<div>
    <div class="row">
        <div class="col-4">
            <h2 class="text-info">Inward Detail's - Index'</h2>
        </div>
        <div class="col-4 text-center">
            @if (@inward.ArrivedQuantity < @inward.DocumentQuantity)
            {
                <a class="btn btn-info text-white" asp-action="CreateInwardDetailForScanning" asp-route-id=@inward.Id>
                    <i class="fas fa-plus"></i>
                    Create
                </a>
            }
        </div>
        <div class="col-4 text-center">
            <a class="btn btn-success text-white  form-control" asp-action="Index">
                Back to Inward
            </a>
        </div>
    </div>
</div>

<br />

<div>
    @*@if (Model.Count() > 0)*@
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    @*@Html.DisplayNameFor(m => m.FKSource)*@
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.FKParty)*@
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InwardNo)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.InwardDt)
                </th>
                <th>
                    <label>Actions</label>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(m => item.FKSource)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(m => item.FKParty)*@
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.InwardNo)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.InwardDt)
                    </td>
                    <td style="width:150px">
                        @if (item.IsEntryCompleted == false)
                        {
                            <div class="btn-group" role="group">
                                @*@if (item.ReceivedQuantity <= 0)
                                    {*@
                                <a class="btn btn-primary text-white" asp-action="Edit" asp-route-Id="@item.Id">
                                    <i class="fas fa-edit"></i>
                                </a>
                                }


                                @*<a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@item.Id">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>*@
                            </div>
                        }

                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p> No Purchase Order's exists.....</p>
    }
</div>

