@model IEnumerable<OptimizerBeta3.Models.TransactionTables.InwardDetails>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var Inward = (OptimizerBeta3.Models.TransactionTables.Inward)TempData["Inward"];
}

<div class="border backgroudColor">
    <div class="backgroudWhite10Px">
        <div class="row">
            <div class="col-6">
                <h2 class="text-success">Inward Info</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="col-form-label text-danger">Inward No</label>
            </div>
            <div class="col-3">
                @Inward.InwardNo;
            </div>
            <div class="col-3">
                <label class="col-form-label text-danger">Inward Date</label>
            </div>
            <div class="col-3">
                @Inward.InwardDt;
            </div>
        </div>
    </div>
</div>


<br />
<div>
    <div class="row">
        <div class="col-4">
            <h2 class="text-info">Inward Detail's - Index</h2>
        </div>
        <div class="col-4 text-center">
            @if (Inward.ArrivedQuantity < Inward.DocumentQuantity)
            {
                <a class="btn btn-info text-white" asp-action="InwardDetailCreate" asp-route-id=@Inward.Id>
                    <i class="fas fa-plus"></i>
                    Create
                </a>
            }
        </div>
        <div class="col-4 text-center">
            <a class="btn btn-success text-white  form-control" asp-action="Index">
                Back to Inward
            </a>
        </div>
    </div>
</div>
<br />
<div>
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th> @Html.DisplayNameFor(m => m.Description) </th>
                <th> @Html.DisplayNameFor(m => m.Colour) </th>
                <th> @Html.DisplayNameFor(m => m.Quantity) </th>
                <th> @Html.DisplayNameFor(m => m.Rate) </th>
                <th> @Html.DisplayNameFor(m => m.Value) </th>
                <th class="text-center"><label>Actions</label></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(m => item.Description) </td>
                    <td> @Html.DisplayFor(m => item.Colour) </td>
                    <td> @Html.DisplayFor(m => item.Quantity) </td>
                    <td> @Html.DisplayFor(m => item.Rate) </td>
                    <td> @Html.DisplayFor(m => item.Value) </td>
                    <td>
                        @if (item.IsEntryCompleted == false)
                        {
                            @if (item.IsEntryCompleted == false)
                            {
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-Id="@item.Id">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@item.Id">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>


