@model OptimizerBeta3.Models.ViewModels.MasterTables.LeatherGoodsDetailViewModel
@using OptimizerBeta3.Extensions


@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var lgGroup = (OptimizerBeta3.Models.MasterTables.LeatherGoodsGroup)TempData["LeatherGoods"];
}

<div class="border backgroudColor">
    <div class="backgroudWhite10Px">
        <div class="row">
            <div class="col-6">
                <h2 class="text-success">Leather Goods Group for Creating Leather Goods Details</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="col-form-label text-danger">Article No</label>
            </div>
            <div class="col-3">
                @lgGroup.ArticleNo;
            </div>
            <div class="col-3">
                <label class="col-form-label text-danger">Article Name</label>
            </div>
            <div class="col-3">
                @lgGroup.ArticleName;
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="col-form-label text-danger">Description</label>
            </div>
            <div class="col-9">
                @lgGroup.Description;
            </div>
        </div>
    </div>
</div>


<div class="border backgroudColor">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Leather Goods Detail - Delete</h2>
        </div>
        <div class="col-6 text-right">
        </div>
    </div>
    <div></div>
    <br />
</div>

@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@


<div class="border backgroudColor row">
    <div class="col-12 backgroudWhite border-right">
        <form method="post" asp-action="LeatherGoodsDetailDelete">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LeatherGoodsDetail.FKEntryType" class="col-form-label text-info"></label>
                </div>
                <div class="col-3">
                    <select asp-for="@Model.LeatherGoodsDetail.FKEntryType" asp-items="Model.FKEntryType.ToSelectListItem(Model.LeatherGoodsDetail.FKEntryType)" class="form-control"></select>
                </div>
                <div class="col-3">
                    <label asp-for="LeatherGoodsDetail.FKCategory" class="col-form-label text-info"></label>
                </div>
                <div class="col-3">
                    <select asp-for="@Model.LeatherGoodsDetail.FKCategory" asp-items="Model.FKCategory.ToSelectListItem(Model.LeatherGoodsDetail.FKCategory)" class="form-control"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LeatherGoodsDetail.FKLeather" class="col-form-label text-info"></label>
                </div>
                <div class="col-3">
                    <select asp-for="@Model.LeatherGoodsDetail.FKLeather" asp-items="Model.FKLeather.ToSelectListItem(Model.LeatherGoodsDetail.FKLeather)" class="form-control"></select>
                </div>
                <div class="col-3">
                    <label asp-for="LeatherGoodsDetail.FKColour" class="col-form-label text-info"></label>
                </div>
                <div class="col-3">
                    <select asp-for="@Model.LeatherGoodsDetail.FKColour" asp-items="Model.FKColour.ToSelectListColourName(Model.LeatherGoodsDetail.FKColour)" class="form-control"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LeatherGoodsDetail.StockNo" class="col-form-label text-info"></label>
                </div>
                <div class="col-3" style="background-color:  lightpink">
                    <input asp-for="LeatherGoodsDetail.StockNo" class="form-control" style="background-color:  lightpink" />
                </div>
                <span asp-validation-for="LeatherGoodsDetail.StockNo" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LeatherGoodsDetail.Description" class="col-form-label text-info"></label>
                </div>
                <div class="col-6" style="background-color:  lightpink">
                    <input asp-for="LeatherGoodsDetail.Description" class="form-control" style="background-color:  lightpink" />
                </div>
                <span asp-validation-for="LeatherGoodsDetail.Description" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LeatherGoodsDetail.FKFeatures" class="col-form-label text-info"></label>
                </div>
                <div class="col-3">
                    <select asp-for="@Model.LeatherGoodsDetail.FKFeatures" asp-items="Model.FKFeatures.ToSelectListItem(Model.LeatherGoodsDetail.FKFeatures)" class="form-control"></select>
                </div>
                <div class="col-3">
                    <label asp-for="LeatherGoodsDetail.VersionNo" class="col-form-label text-info"></label>
                </div>
                <div class="col-3">
                    <input asp-for="LeatherGoodsDetail.VersionNo" class="form-control" />
                </div>
            </div>


            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LeatherGoodsDetail.AdditionalInfo" class="col-form-label text-info"></label>
                </div>
                <div class="col-6">
                    <input asp-for="LeatherGoodsDetail.AdditionalInfo" class="form-control" />
                </div>
            </div>

            <input asp-for="LeatherGoodsDetail.FKArticleGroup" readonly class="form-control" value="@lgGroup.Id" type="hidden" />
            <input asp-for="LeatherGoodsDetail.ModifiedBy" readonly class="form-control" value="1" type="hidden" />
            <input asp-for="LeatherGoodsDetail.ModifiedDate" readonly class="form-control" value="@DateTime.Now" type="datetime" type="hidden" />

            <div class="form-group row">
                <div class="col-6 offset-3">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" class="btn btn-danger form-control" asp-route-id="@Model.LeatherGoodsDetail.Id" value="Delete" />
                        </div>
                        <div class="col-6">
                            <a class="btn btn-success text-white  form-control" asp-action="LeatherGoodsDetailIndex" asp-route-id="@TempData["AGId"]">
                                Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

