@model OptimizerBeta3.Models.ViewModels.MasterTables.PartyInfoViewModel
@using OptimizerBeta3.Extensions


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroudColor">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Party Info - Create</h2>
        </div>
        <div class="col-6 text-right">
        </div>
    </div>
    <div></div>
    <br />
</div>

@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@


<div class="border backgroudColor row">
    <div class="col-12 backgroudWhite border-right">
        <form method="post" asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="partyInfo.FKCategory" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <select asp-for="@Model.partyInfo.FKCategory" asp-items="Model.FKCategory.ToSelectListItem(Model.partyInfo.FKCategory)" class="form-control" id="Category" onchange="EnableDaysorDiscount()"></select>
                </div>
                <div class="col-sm-2">
                    <label asp-for="partyInfo.Code" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <input asp-for="partyInfo.Code" readonly value="[Auto]" class="form-control text-danger" />
                </div>
                <span asp-validation-for="partyInfo.Code" class="text-danger"></span>
                <div class="col-sm-2">
                    <label asp-for="partyInfo.ContactPersonName" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <input asp-for="partyInfo.ContactPersonName" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="partyInfo.CompanyName" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-6" style="background-color:  lightpink">
                    <input asp-for="partyInfo.CompanyName" class="form-control" style="background-color:  lightpink" oninput="EnableDaysorDiscount()" />
                </div>
                <span asp-validation-for="partyInfo.CompanyName" class="text-danger"></span>
                <div class="col-sm-2">
                    <label asp-for="partyInfo.ShortName" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <input asp-for="partyInfo.ShortName" class="form-control" />
                </div>
                <span asp-validation-for="partyInfo.ShortName" class="text-danger text-info"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="partyInfo.Address1" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="partyInfo.Address1" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label asp-for="partyInfo.Address2" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="partyInfo.Address2" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="partyInfo.FKArea" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <select asp-for="@Model.partyInfo.FKArea" asp-items="Model.FKArea.ToSelectListItem(Model.partyInfo.FKArea)" class="form-control"></select>
                </div>
                <div class="col-sm-2">
                    <label asp-for="partyInfo.FKCity" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <select asp-for="@Model.partyInfo.FKCity" id="FKCity" asp-items="Model.FKCity.ToSelectListItem(Model.partyInfo.FKCity)" class="form-control"></select>
                </div>
                <div class="col-sm-2">
                    <label asp-for="partyInfo.FKPincode" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <select asp-for="@Model.partyInfo.FKPincode" id="FKPincode" asp-items="Model.FKPincode.ToSelectListItem(Model.partyInfo.FKPincode)" class="form-control"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="partyInfo.FKState" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <select asp-for="@Model.partyInfo.FKState" asp-items="Model.FKState.ToSelectListStateName(Model.partyInfo.FKState)" class="form-control"></select>
                </div>
                <div class="col-sm-2">
                    <label asp-for="partyInfo.FKCountry" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <select asp-for="@Model.partyInfo.FKCountry" asp-items="Model.FKCountry.ToSelectListItem(Model.partyInfo.FKCountry)" class="form-control"></select>
                </div>
                <div class="col-sm-2">
                    <a asp-action="LookUpMasterCreate" class="btn btn-success form-control">Look Up Master</a>
                </div>
                <div class="col-sm-2">
                    <a asp-action="AreaMasterCreate" class="btn btn-dark form-control">Area Master</a>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-1">
                    <label asp-for="partyInfo.ContactNo" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <input asp-for="partyInfo.ContactNo" class="form-control" />
                </div>
                <div class="col-sm-1">
                    <label asp-for="partyInfo.MailId" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <input asp-for="partyInfo.MailId" class="form-control" />
                </div>
                <div class="col-sm-1">
                    <label asp-for="partyInfo.PANNumber" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <input asp-for="partyInfo.PANNumber" class="form-control" />
                </div>
                <div class="col-sm-1">
                    <label asp-for="partyInfo.GSTNumber" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-2">
                    <input asp-for="partyInfo.GSTNumber" class="form-control" />
                </div>
            </div>

            <div class="form-group row" id="DeliveryDays" hidden="hidden">
                <div class="col-sm-2">
                    <label asp-for="partyInfo.NewOrderDeliveryDays" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-1">
                    <input asp-for="partyInfo.NewOrderDeliveryDays" class="form-control" />
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <label asp-for="partyInfo.ReplinishmentOrderDeliveryDays" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                    <input asp-for="partyInfo.ReplinishmentOrderDeliveryDays" class="form-control" />
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <label asp-for="partyInfo.GeneralDeliveryDays" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-1">
                    <input asp-for="partyInfo.GeneralDeliveryDays" class="form-control" />
                </div>
            </div>

            <div class="form-group row" id="DealerDiscount" hidden="hidden">
                <div class="col-sm-2">
                    <label asp-for="partyInfo.LessPercentageonMRP" class="col-form-label text-info"></label>
                </div>
                <div class="col-sm-1">
                    <input asp-for="partyInfo.LessPercentageonMRP" class="form-control" />
                </div>
            </div>

            <input asp-for="partyInfo.IsActive" readonly class="form-control" value="@true" type="hidden" />
            <input asp-for="partyInfo.EnteredSystemId" readonly class="form-control" value="" type="hidden" />
            <input asp-for="partyInfo.CreatedBy" readonly class="form-control" value="1" type="hidden" />
            <input asp-for="partyInfo.CreatedDate" readonly class="form-control" value="@DateTime.Now" type="datetime" type="hidden" />
            <input asp-for="partyInfo.ModifiedBy" readonly class="form-control" value="1" type="hidden" />
            <input asp-for="partyInfo.ModifiedDate" readonly class="form-control" value="@DateTime.Now" type="datetime" type="hidden" />
            <input asp-for="partyInfo.DeleteBy" readonly class="form-control" value="1" type="hidden" />
            <input asp-for="partyInfo.DeletedDate" readonly class="form-control" value="@DateTime.Now" type="datetime" type="hidden" />

            <div class="form-group row">
                <div class="col-6 offset-3">
                    <partial name="_CreateandBacktoListButton" />
                </div>
            </div>

        </form>
    </div>
</div>



<script>
     function EnableDaysorDiscount() {

         var sCategory = ($("#Category option:selected").text()).toString().toUpperCase();
         
         if (sCategory == "CUSTOMER") {
             $('#DeliveryDays').prop('hidden', true);
             $('#DealerDiscount').prop('hidden', false);
         } else if (sCategory == "SUPPLIER" || sCategory == "OWN COMPANY") {
             $('#DeliveryDays').prop('hidden', false);
             $('#DealerDiscount').prop('hidden', true);
         } else {
             $('#DeliveryDays').prop('hidden', true);
             $('#DealerDiscount').prop('hidden', true);
         }
        

    }

</script>



