@model IEnumerable<OptimizerBeta3.Models.MasterTables.AreaMaster>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="border backgroudColor">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Area Master - Index</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartialView" />
        </div>
    </div>
    <div></div>
    <br />

    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary text-center">
                    <th> @Html.DisplayNameFor(m => m.Country) </th>
                    <th> @Html.DisplayNameFor(m => m.State) </th>
                    <th> @Html.DisplayNameFor(m => m.City) </th>
                    <th> @Html.DisplayNameFor(m => m.Area) </th>
                    <th> @Html.DisplayNameFor(m => m.Pincode) </th>
                    <th><label>Actions</label></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @Html.DisplayFor(m => item.Country) </td>
                        <td> @Html.DisplayFor(m => item.State) </td>
                        <td> @Html.DisplayFor(m => item.City) </td>
                        <td> @Html.DisplayFor(m => item.Area) </td>
                        <td> @Html.DisplayFor(m => item.Pincode)
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p> No Area Master exists.....</p>
        }
    </div>
</div>


