@model IEnumerable<OptimizerBeta3.Models.TransactionTables.EstimateDetail>
@{
    ViewData["Title"] = "CreateEstimateDtl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var estimate = (OptimizerBeta3.Models.TransactionTables.Estimate)TempData["Estimate"];
    //var Offer = (List<OptimizerBeta3.Models.MasterTables.Offers>)ViewBag.Offer;
    var Offer = (List<OptimizerBeta3.Models.GeneralTables.TempOffersBillWise>)ViewBag.Offer;
}

<div>
    <div class="row border-bottom border-danger">
        <div class="col-6">
            <h2 class="text-info">Estimate Detail  - Create</h2>
        </div>
    </div>
</div>

<div class="row border-bottom border-dark">
    <div class="col-12">
        <div class="form-group row">
            <div class="col-sm-2">
                <label class="col-form-label text-info">Store Code</label>
            </div>
            <div class="col-sm-2">
                <input readonly value="@estimate.LocationName" class="form-control text-dark" />
            </div>
            <div class="col-sm-2">
                <label class="col-form-label text-info">Estimate No</label>
            </div>
            <div class="col-sm-2">
                <input readonly value="@estimate.EstimateNo" class="form-control text-dark" />
            </div>
            <div class="col-sm-2">
                <label class="col-form-label text-info">Estimate Dt</label>
            </div>
            <div class="col-sm-2">
                <input readonly value="@estimate.EstimateDt.ToString("dd-MMM-yyyy")" class="form-control text-dark" />
            </div>
        </div>
    </div>
</div>
<br />

<div>
    @if (estimate.InvoiceNo != null)
    {
        <div class="col-sm-3">
            <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
        </div>
        <h3>Estimate Details</h3>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped table-hover table-bordered">
                <tr class="table-primary text-info">
                    @*<th> @Html.DisplayNameFor(m => m.EANCode)</th>
                        <th> @Html.DisplayNameFor(m => m.StockNo)</th>*@
                    <th> @Html.DisplayNameFor(m => m.Description) </th>
                    <th> @Html.DisplayNameFor(m => m.Quantity) </th>
                    <th> @Html.DisplayNameFor(m => m.MRP) </th>
                    <th> @Html.DisplayNameFor(m => m.DiscountPercentagePWise) </th>
                    <th> @Html.DisplayNameFor(m => m.DiscountValuePWise) </th>
                    <th> @Html.DisplayNameFor(m => m.Rate) </th>
                    <th> @Html.DisplayNameFor(m => m.GrossValue) </th>
                    <th> @Html.DisplayNameFor(m => m.GSTTotalValue) </th>
                    <th> @Html.DisplayNameFor(m => m.ItemNettValue) </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        @*<td> @Html.DisplayFor(m => item.EANCode) </td>
                            <td> @Html.DisplayFor(m => item.StockNo) </td>*@
                        <td> @Html.DisplayFor(m => item.Description) </td>
                        <td> @Html.DisplayFor(m => item.Quantity) </td>
                        <td> @Html.DisplayFor(m => item.MRP) </td>
                        <td> @Html.DisplayFor(m => item.DiscountPercentagePWise) </td>
                        <td> @Html.DisplayFor(m => item.DiscountValuePWise) </td>
                        <td> @Html.DisplayFor(m => item.Rate) </td>
                        <td> @Html.DisplayFor(m => item.GrossValue) </td>
                        <td> @Html.DisplayFor(m => item.GSTTotalValue) </td>
                        <td> @Html.DisplayFor(m => item.ItemNettValue) </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p> No Estimate Details exists.....</p>
        }
    }
    else
    {



        <div>
            @using (Html.BeginForm("CreateEstimateDtl", "Estimate", FormMethod.Post))
            {
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label>Stock No / EAN Code</label>
                    </div>
                    <div class="col-sm-2">
                        <input id="EANCode" name="EANCode" type="text" autofocus="autofocus" />
                        <input id="FKEstimateId" name="FKEstimateId" readonly value="@estimate.Id" type="hidden" />
                    </div>
                    <div class="col-sm-1">
                        <input id="submit1" type="submit" value="Insert" />
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-3">
                        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                    </div>
                </div>
            }
        </div>

        @if (@TempData["ErrorMessage"] != null)
        {
            <div class="border-danger" style="background-color:lightsalmon">
                <h1 class="text-center">
                    <span style="color: red;">
                        @Html.Raw("<pre>" + Html.Encode(@TempData["ErrorMessage"].ToString()) + "</pre>")
                    </span>
                </h1>
            </div>

        }

        <h3>Estimate Details</h3>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped table-hover table-bordered">
                <tr class="table-primary text-info">
                    @*<th> @Html.DisplayNameFor(m => m.EANCode)</th>
        <th> @Html.DisplayNameFor(m => m.StockNo)</th>*@
                    <th> @Html.DisplayNameFor(m => m.Description) </th>
                    <th> @Html.DisplayNameFor(m => m.Quantity) </th>
                    <th> @Html.DisplayNameFor(m => m.MRP) </th>
                    @*<td> @Html.DisplayNameFor(m => m.DiscountPercentagePWise) </td>*@
                    <td> <label class="font-weight-bold">PWDis %</label> </td>
                    <td> <label class="font-weight-bold">PWDis Val</label> </td>
                    <td> <label class="font-weight-bold">BWDis %</label> </td>
                    <td> <label class="font-weight-bold">BWDis Val</label> </td>
                    @*<td> @Html.DisplayNameFor(m => m.DiscountValuePWise) </td>
                    <td> @Html.DisplayNameFor(m => m.DiscountPercentageBWise) </td>
                    <td> @Html.DisplayNameFor(m => m.DiscountValueBWise) </td>*@
                    <th> @Html.DisplayNameFor(m => m.Rate) </th>
                    <th> @Html.DisplayNameFor(m => m.GrossValue) </th>
                    <th> @Html.DisplayNameFor(m => m.GSTTotalValue) </th>
                    <th> @Html.DisplayNameFor(m => m.ItemNettValue) </th>
                    <th> <label>Actions</label> </th>
                </tr>

                @foreach (var item in Model)
                {
            <tr>
                @*<td> @Html.DisplayFor(m => item.EANCode) </td>
        <td> @Html.DisplayFor(m => item.StockNo) </td>*@
                <td> @Html.DisplayFor(m => item.Description) </td>
                <td> @Html.DisplayFor(m => item.Quantity) </td>
                <td> @Html.DisplayFor(m => item.MRP) </td>
                <td> @Html.DisplayFor(m => item.DiscountPercentagePWise) </td>
                <td> @Html.DisplayFor(m => item.DiscountValuePWise) </td>
                <td> @Html.DisplayFor(m => item.DiscountPercentageBWise) </td>
                <td> @Html.DisplayFor(m => item.DiscountValueBWise) </td>
                <td> @Html.DisplayFor(m => item.Rate) </td>
                <td> @Html.DisplayFor(m => item.GrossValue) </td>
                <td> @Html.DisplayFor(m => item.GSTTotalValue) </td>
                <td> @Html.DisplayFor(m => item.ItemNettValue) </td>
                <td style="width:150px">
                    <div class="btn-group" role="group">
                        @if (item.Quantity < item.AvailableQty)
                        {
                            <a class="btn btn-primary text-white" asp-action="AddItem" asp-route-Id="@item.Id">
                                <i class="fas fa-plus"></i>
                            </a>
                        }
                        <a class="btn btn-danger text-white" asp-action="RemoveItem" asp-route-Id="@item.Id">
                            <i class="fas fa-minus"></i>
                        </a>
                    </div>
                </td>
            </tr>
                }
            </table>
        }
        else
        {
            <p> No Estimate Details exists.....</p>
        }

        <h3>Estimated Invoice</h3>
        <div>
            @using (Html.BeginForm("UpdateEstimate", "Estimate", FormMethod.Post))
            {
                <input id="FKEstimateId" name="FKEstimateId" readonly value="@estimate.Id" type="hidden" />

                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="col-form-label text-info">Total Items</label>
                    </div>
                    <div class="col-sm-1">
                        <input readonly value="@estimate.ItemsCount" class="form-control text-danger text-right" />
                    </div>
                    <div class="col-sm-2">
                        <label class="col-form-label text-info">Items Value</label>
                    </div>
                    <div class="col-sm-1">
                        <input readonly value="@estimate.ItemsGrossValue" class="form-control text-danger text-right" />
                    </div>
                    <div class="col-sm-2">
                        <label class="col-form-label text-info">Discount Value</label>
                    </div>
                    <div class="col-sm-1">
                        <input readonly value="@estimate.ItemsDiscountValuePWise" class="form-control text-danger text-right" />
                    </div>
                    <div class="col-sm-2">
                        <label class="col-form-label text-info">Items Gross Value</label>
                    </div>
                    <div class="col-sm-1">
                        <input readonly value="@estimate.ItemsNettValue" class="form-control text-danger text-right" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="col-form-label text-info">Offer Value</label>
                    </div>
                    <div class="col-sm-1">
                        <input readonly value="@estimate.OfferValuePWise" class="form-control text-danger text-right" />
                    </div>
                    <div class="col-sm-2">
                        <label class="col-form-label text-info">Round Off</label>
                    </div>
                    <div class="col-sm-1">
                        <input readonly value="@estimate.RoundOff" class="form-control text-danger text-right" "             />
                    </div>
                    <div class="col-sm-2">
                        <label class="col-form-label text-info">Invoice Nett Value</label>
                    </div>
                    <div class="col-sm-1">
                        <input readonly value="@estimate.NettValue" class="form-control text-danger text-right" "             />
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" class="btn btn-info form-control" id="GenerateInvoice" value="Convert 2 Invoice" name="EstimateUpdate" />
                    </div>
                </div>

                <div class="form-group row">

                    @if (estimate.ItemsDiscountValuePWise <= 0)
                    {

                        <div class="col-sm-2">
                            <label class="col-form-label text-info">Offer Code</label>
                        </div>
                        <div class="col-sm-2">
                            <input id="OfferCode" name="OfferCode" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            @if (estimate.FKOffer <= 0)
                            {
                                <input type="submit" class="btn btn-success form-control" id="GenerateInvoice" value="Include Offer" name="EstimateUpdate" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-danger form-control" id="GenerateInvoice" value="Exclude Offer" name="EstimateUpdate" />
                            }

                        </div>
                        <div class="col-sm-2">
                            
                        </div>
                    }

                </div>
                <div class="form-group row">

                    @if (estimate.ItemsDiscountValuePWise <= 0)
                    {
                        @*@if (Offer.Count() > 0)
                        {
                            <h3>Available Offer's</h3>
                            <table class="table table-striped table-hover table-bordered">
                                <tr class="table-primary text-info">
                                    <th> @Html.DisplayName("OfferCode") </th>
                                    <th> @Html.DisplayName("OfferName") </th>
                                    <th> @Html.DisplayName("DiscountPercentage") </th>
                                    <th> @Html.DisplayName("DiscountValue") </th>
                                    <th> @Html.DisplayName("BuyPair") </th>
                                    <th> @Html.DisplayName("OfferPair") </th>
                                    <th> @Html.DisplayName("IsProductCompliment") </th>
                                </tr>

                                @foreach (var item in Offer)
                                {
                                    <tr>
                                        <td> @Html.DisplayFor(m => item.OfferId) </td>
                                        <td> @Html.DisplayFor(m => item.OfferName) </td>
                                        <td> @Html.DisplayFor(m => item.DiscountPercentage) </td>
                                        <td> @Html.DisplayFor(m => item.DiscountValue) </td>
                                        <td> @Html.DisplayFor(m => item.BuyPair) </td>
                                        <td> @Html.DisplayFor(m => item.OfferPair) </td>
                                        <td> @Html.DisplayFor(m => item.IsProductCompliment) </td>
                                    </tr>
                                }
                            </table>
                        }*@
                        @if (Offer.Count() > 0)
                        {
                            <h3>Available Offer's</h3>
                            <table class="table table-striped table-hover table-bordered">
                                <tr class="table-primary text-info">
                                    <th> @Html.DisplayName("CouponCode") </th>
                                    <th> @Html.DisplayName("OfferName") </th>
                                    <th> @Html.DisplayName("DiscountPercentage") </th>
                                    <th> @Html.DisplayName("DiscountValue") </th>
                                    <th> @Html.DisplayName("BuyPair") </th>
                                    <th> @Html.DisplayName("OfferPair") </th>
                                    <th> @Html.DisplayName("IsProductCompliment") </th>
                                </tr>

                                @foreach (var item in Offer)
                                {
                            <tr>
                                <td> @Html.DisplayFor(m => item.CouponCode) </td>
                                <td> @Html.DisplayFor(m => item.OfferCode) </td>
                                <td> @Html.DisplayFor(m => item.DiscountPercentage) </td>
                                <td> @Html.DisplayFor(m => item.DiscountValue) </td>
                                <td> @Html.DisplayFor(m => item.BuyPair) </td>
                                <td> @Html.DisplayFor(m => item.OfferPair) </td>
                                <td> @Html.DisplayFor(m => item.IsProductCompliment) </td>
                            </tr>
                                }
                            </table>
                        }
                    }

                </div>
            }
        </div>

    }
</div>
