@model OptimizerBeta3.Models.ViewModels.TransactionTables.MaterialPurchaseOrderDetailViewModel
@using OptimizerBeta3.Extensions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


@{
    var purchaseOrder = (OptimizerBeta3.Models.TransactionTables.MaterialPurchaseOrder)TempData["PurchaseOrder"];
}
<br />
<div class="border backgroudColor">
    <div class="backgroudWhite10Px">
        <div class="row">
            <div class="col-6">
                <h2 class="text-success">Purchase Order Info</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="col-form-label text-danger">Purchase Order No</label>
            </div>
            <div class="col-3">
                @purchaseOrder.PurchaseOrderNo;
            </div>
            <div class="col-3">
                <label class="col-form-label text-danger">Purchase Order Date</label>
            </div>
            <div class="col-3">
                @purchaseOrder.PurchaseOrderDt;
            </div>
        </div>
    </div>
</div>


<br />
<div class="border backgroudColor">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Materials Purchase Order Detail - Create</h2>
        </div>
        <div class="col-6 text-right">
        </div>
    </div>
    <div></div>
    <br />
</div>

@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@


<div class="border backgroudColor row">
    <div class="col-12 backgroudWhite border-right">
        <form method="post" asp-action="MPODetailCreate">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="MaterialPurchaseOrderDetail.OrderReferenceNo" class="col-form-label text-info"></label>
                </div>
                <div class="col-3">
                    <input asp-for="MaterialPurchaseOrderDetail.OrderReferenceNo" class="form-control" />
                </div>
                <div class="col-3">
                    <label asp-for="MaterialPurchaseOrderDetail.FKMaterial" class="col-form-label text-info"></label>
                </div>
                <div class="col-3">
                    <select asp-for="@Model.MaterialPurchaseOrderDetail.FKMaterial" id="FKMaterial" asp-items="Model.MaterialId.ToSelectListItem(Model.MaterialPurchaseOrderDetail.FKMaterial)" class="form-control" onchange="InsertMaterialName()"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="MaterialPurchaseOrderDetail.Quantity" class="col-form-label text-info"></label>
                </div>
                <div class="col-2 text-right">
                    <input asp-for="MaterialPurchaseOrderDetail.Quantity" id="Quantity" oninput="calculateValue()" class="form-control" />
                </div>
                <div class="col-2">
                    <label asp-for="MaterialPurchaseOrderDetail.Rate" class="col-form-label text-info"></label>
                </div>
                <div class="col-2 text-right">
                    <input asp-for="MaterialPurchaseOrderDetail.Rate" id="Rate" oninput="calculateValue()" class="form-control" />
                </div>
                <div class="col-2">
                    <label asp-for="MaterialPurchaseOrderDetail.Value" class="col-form-label text-info"></label>
                </div>
                <div class="col-2 text-right">
                    <input asp-for="MaterialPurchaseOrderDetail.Value" id="Value" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="MaterialPurchaseOrderDetail.DeliveryDate" class="col-form-label text-info"></label>
                </div>
                <div class="col-3">
                    <input type="date" asp-for="MaterialPurchaseOrderDetail.DeliveryDate" id="DeliveryDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
                <div class="col-3">
                    <label asp-for="MaterialPurchaseOrderDetail.IsPartDeliveryAllowed" class="col-form-label text-info"></label>
                </div>
                <div class="col-1">
                    <input type="checkbox" asp-for="MaterialPurchaseOrderDetail.IsPartDeliveryAllowed" checked="checked" class="form-control" />
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                    <label asp-for="MaterialPurchaseOrderDetail.FKOrderStatus" class="col-form-label text-info"></label>
                </div>
                <div class="col-3">
                    <select asp-for="@Model.MaterialPurchaseOrderDetail.FKOrderStatus" asp-items="Model.FKOrderStatus.ToSelectListItem(Model.MaterialPurchaseOrderDetail.FKOrderStatus)" class="form-control"></select>
                </div>
            </div>

            <input asp-for="MaterialPurchaseOrderDetail.ReceivedQuantity" readonly class="form-control" value="0" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.CancelledQuantity" readonly class="form-control" value="0" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.BalanceQuantity" readonly class="form-control" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.FKPurchaseOrder" readonly class="form-control" value="@purchaseOrder.Id" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.PurchaseOrderNo" readonly class="form-control" value="@purchaseOrder.PurchaseOrderNo" type="hidden" />
            <label asp-for="MaterialPurchaseOrderDetail.Material" class="col-form-label text-info"></label>
            <input asp-for="MaterialPurchaseOrderDetail.Material" id="Material" readonly class="form-control" />

            <input asp-for=" MaterialPurchaseOrderDetail.IsActive" readonly class="form-control" value="@true" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.EnteredSystemId" readonly class="form-control" value="" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.CreatedBy" readonly class="form-control" value="1" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.CreatedDate" readonly class="form-control" value="@DateTime.Now" type="datetime" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.ModifiedBy" readonly class="form-control" value="1" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.ModifiedDate" readonly class="form-control" value="@DateTime.Now" type="datetime" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.DeleteBy" readonly class="form-control" value="1" type="hidden" />
            <input asp-for="MaterialPurchaseOrderDetail.DeletedDate" readonly class="form-control" value="@DateTime.Now" type="datetime" type="hidden" />
            <input asp-for="Id" readonly class="form-control" value="@purchaseOrder.Id" type="hidden" />

            <div class="form-group row">
                <div class="col-6 offset-3">
                    @*<partial name="_CreateandBacktoListButton" />*@
                    <div class="row">
                        <div class="col-4">
                            <input type="submit" class="btn btn-info form-control" value="Save & Continue" name="SaveDtl" />
                        </div>
                        <div class="col-4">
                            <input type="submit" class="btn btn-success form-control" value="Save & Exit" formmethod="post" formaction="MPODetailCreate" name="SaveDtl" />
                        </div>
                        <div class="col-4">
                            <a class="btn btn-dark text-white  form-control" asp-action="MPODetailIndex" asp-route-id="@purchaseOrder.Id">
                                <i class="fas fa-plus"></i>
                                Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@*<partial name="_MPODetailIndexPartialView" model="@model OptimizerBeta3.Models.TransactionTables.MaterialPurchaseOrderDetails.Where(x => x.FKPurchaseOrder == @purchaseOrder.Id).ToListAsync()" />*@

<script type="text/javascript">

    function calculateValue() {
        var quantity = $("#Quantity").val();
        var rate = $("#Rate").val();
        $("#Value").val(quantity * rate);
    }

    function InsertMaterialName() {
        $("#Material").val($("#"))
    }

    $(function () {
        var dtToday = new Date();
        var month = dtToday.getMonth() + 1;
        var nextmonth = dtToday.getMonth() + 3;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var minDate = year + '-' + month + '-' + day;
        var maxDate = year + '-' + nextmonth + '-' + day;
        $('#DeliveryDate').attr('min', minDate);
        $('#DeliveryDate').attr('max', maxDate);
    });
</script>