@model IEnumerable<OptimizerBeta3.Models.MasterTables.UnitMaster>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="border backgroudColor">
    <div class="backgroudWhite10Px">
        <div class="row">
            <div class="col-6">
                <h2 class="text-success">Company Info for Creating Unit's</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="col-form-label text-danger">Company Code</label>
            </div>
            <div class="col-3">
                @TempData["CICode"]
            </div>
            <div class="col-3">
                <label class="col-form-label text-danger">GST Code</label>
            </div>
            <div class="col-3">
                @TempData["CIGST"]
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="col-form-label text-danger">Company Name</label>
            </div>
            <div class="col-3">
                @TempData["CICompanyName"]
            </div>
            <div class="col-3">
                <label class="col-form-label text-danger">Address</label>
            </div>
            <div class="col-3">
                @TempData["CIAddress"]
            </div>
        </div>
    </div>
</div>

<div class="border backgroudColor">
    <div class="row">
        <div class="col-4">
            <h2 class="text-info">Unit Master - Index</h2>
        </div>
        <div class="col-4 text-center">
            <a class="btn btn-info text-white" asp-action="Create" asp-route-id=@TempData["CIId"]>
                <i class="fas fa-plus"></i>
                Create
            </a>
        </div>
        <div class="col-4 text-center">
            <a class="btn btn-success text-white  form-control" asp-action="Index">
                Back to Company Master
            </a>
        </div>
    </div>
    <div></div>
    <br />

    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.FKCompanyInfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.FKUnitType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Address1)
                    </th>
                    <th><label>Actions</label></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.FKCompanyInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.FKUnitType)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Address1)
                        </td>
                        <td>
                            <a class="btn btn-warning text-black" asp-action="LocationIndex" asp-route-id="@item.Id">
                                Location
                            </a>
                        </td>
                        <td style="width:150px">
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p> No Unit Info exists.....</p>
        }
    </div>
</div>


