@model IEnumerable<OptimizerBeta3.Models.GeneralTables.Complaint>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Complaint's - Index</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartialView" />
        </div>
    </div>
    <div>
        <form asp-action="IndexFilter" asp-controller="PurchaseOrder">
            <div class="row">
                <div class="col-2">
                    <h3 class="text-success">From Date :</h3>
                </div>
                <div class="col-2">
                    <input type="date" id="fromDate" name="fromDate" value="@(((DateTime)ViewBag.FromDate).Date.ToString("yyyy-MM-dd"))" />
                </div>
                <div class="col-2">
                    <h3 class="text-success">To Date :</h3>
                </div>
                <div class="col-2">
                    <input type="date" id="toDate" name="toDate" value="@(((DateTime)ViewBag.ToDate).Date.ToString("yyyy-MM-dd"))" />

                </div>
                <div class="col-2">

                </div>
                <div class="col-2 text-right">
                    @*<a class="btn btn-success"><i class="fas fa-sync-alt"></i> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Refresh</a>*@
                    <input type="submit" value="&nbsp; &nbsp; &nbsp; Refresh &nbsp;&nbsp; &nbsp; &nbsp;" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

<br />

@*PurchaseOrderNo, PurchaseOrderDate, SupplierName, TypeofOrder, POType, Source, OrderStatus*@

<div>
    @if (Model.Count() > 0)
    {
        <table class="table table-success table-striped table-hover table-bordered">
            <tr class="table-success text-info text-center">
                <th> @Html.DisplayNameFor(m => m.ComplaintDt) </th>
                <th> @Html.DisplayNameFor(m => m.FKMenuCategory) </th>
                <th> @Html.DisplayNameFor(m => m.FKMenuName) </th>
                <th> @Html.DisplayNameFor(m => m.FKLocation) </th>
                <th> @Html.DisplayNameFor(m => m.FKAdminName) </th>
                <th> @Html.DisplayNameFor(m => m.FKUserName) </th>
                <th> @Html.DisplayNameFor(m => m.Comments) </th>
                <th> @Html.DisplayNameFor(m => m.FKStatus) </th>
                <th> <label class="text-center">Actions</label> </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.ComplaintDt.ToString("dd-MMM-yyyy") </td>
                    <td> @Html.DisplayFor(m => item.LookUpMasterMenuCategory.Description) </td>
                    <td> @Html.DisplayFor(m => item.LookUpMasterMenuName.Description) </td>
                    <td> @Html.DisplayFor(m => item.LookUpMasterLocation.Description) </td>
                    <td> @Html.DisplayFor(m => item.LookUpMasterAdminName.Description) </td>
                    <td> @Html.DisplayFor(m => item.LookUpMasterUserName.Description) </td>
                    <td> @Html.DisplayFor(m => item.Comments) </td>
                    <td> @Html.DisplayFor(m => item.LookUpMasterStatus.Description) </td>

                    <td>
                        <a class="btn btn-primary text-white" asp-action="Edit" asp-route-Id="@item.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-success text-white" asp-action="Cancel" asp-route-Id="@item.Id">
                            <i class="far fa-times-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p> No Complaints exists.....</p>
    }
</div>

